<template>
  <div id="create">
    <v-app-bar
      elevation="2"
      class="mb-2 fixed-top">
      <v-btn icon
        v-on:click="goSettings()"
        type="button">
        <v-icon>settings</v-icon>
      </v-btn>
      <v-chip
        small
        color="#707070"
        text-color="grey lighten-4"
        class="font-weight-bold">
        {{ user }}
      </v-chip>
      <v-toolbar-title
        class="m-4"
      >{{ txt_uls_title }}</v-toolbar-title>
    </v-app-bar>

    <!-- Alert -->
    <v-dialog
      v-model="dialog"
      max-width="50%">
      <v-card>
        <v-card-title>
          {{ dialog_title }}
        </v-card-title>
        <v-card-text>{{ dialog_text }}</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            @click="clearDialog">
            {{ txt_ok }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-row class="mt-5 mx-4">
      <v-col class="pt-0 pb-0">
         <v-text-field
          outlined
          dense
          autofocus
          autocorrect="off"
          hide-details
          autocapitalize="none"
          v-bind:disabled="configured"
          v-model="ul_code"
          :label="$gettext('Ul code')"
          v-bind:readonly="Boolean(ul)"
          @keyup.enter="sendUl()">
        </v-text-field>
      </v-col>
    </v-row>

    <div class="d-flex flex-column mt-7 mb-6 bg-surface-variant">
      <v-row class="mt-0 mx-4">
        <v-col class="pt-0 pb-0">
          <v-text-field
            outlined
            dense
            disabled
            v-model="last_ul"
            autocorrect="off"
            autocapitalize="none"
            :label="$gettext('Last Ul')">
          </v-text-field>
        </v-col>
        <v-col class="pt-0 pb-0">
          <v-text-field
            outlined
            dense
            disabled
            v-model="last_gross_weight"
            autocorrect="off"
            autocapitalize="none"
            :label="$gettext('Last gross weight')">
          </v-text-field>
        </v-col>
        <v-col class="pt-0 pb-0">
          <v-text-field
            outlined
            dense
            disabled
            v-model="last_net_weight"
            autocorrect="off"
            autocapitalize="none"
            :label="$gettext('Last net weight')">
          </v-text-field>
        </v-col>
        <v-col class="pt-0 pb-0">
          <v-text-field
            outlined
            dense
            disabled
            v-model="last_tare"
            autocorrect="off"
            autocapitalize="none"
            :label="$gettext('Last tare')">
          </v-text-field>
        </v-col>
      </v-row>
    </div>

    <!-- Loading -->
    <v-overlay :value="overlay" style="z-index: 9000;">
      <v-progress-circular
        indeterminate
        size="64"
      ></v-progress-circular>
    </v-overlay>
</template>

<script>
var storage = require('./storage.js')
var utils = require('./utils.js')
var CONFIG = require('../config.json')

module.exports = {
  data: function() {
    var settings = storage.settings

    return {
      user: '',
      code_ul: '',
      gross_weight: null,
      last_ul: null,
      last_gross_weight: null,
      last_net_weight: null,
      last_tare: null,
      menu_date: false,
      // Confirm Dialog
      confirm_dialog: false,
      confirm_dialog_text: '',
      // Alert Dialog
      dialog: false,
      dialog_title: '',
      dialog_text: '',
      overlay: false,
      // translations. Computed to avoid errors display
      txt_uls_title: this.$gettext('Ul weighing'),
      txt_ok: this.$gettext('OK')
    }
  },
  methods: {
    goSettings: function() {
      this.$router.push({
        name: 'settings',
      })
    },
    sendUl: async function() {
      if (!this.ul_code) return
      var vm = this

      var url = CONFIG.app_name + '/weight_ul'
      var count = 0
      while(count < 1000){
        try {
          var gross_weight = await vm.readBascule()
          break
        } catch (e) {
            count++
        }
      }
      var data = {
        'ul_code': this.ul_code,
        'gross_weight': gross_weight
      }
      vm.overlay = true
      this.$http.put(url, data).then(function(response) {
        response.json().then(function(data) {
          vm.last_ul = data['unit_load']
          vm.last_gross_weight = data['gross_weight']
          vm.last_net_weight = data['net_weight']
          vm.last_tare = data['tare']
          vm.ul_code = ''
          vm.overlay = false
        })
      })
      .catch(
        function(response) {
          vm.overlay = false
          vm.showDialog('Error', response.body.text)
          vm.ul_code = ''
        }
      )
    },
    showDialog(title, text='', additional_text='') {
      this.dialog_title = this.$gettext(title)
      this.dialog_text = this.$gettext(text) + additional_text
      this.dialog = true
    },
    clearDialog() {
      this.dialog = false
      this.dialog_title = ''
      this.dialog_text = ''
    },
    async readBascule() {
      const com_baud = 9600
      const settings = storage.settings
      const bascule = settings.bascule
      const ports = await navigator.serial.getPorts()
      const port = ports[0]
      await port.open({ baudRate: com_baud })

      try {
        const reader = port.readable.getReader()
        var value_text = await reader.read()
        value_text = new TextDecoder().decode(value_text['value'])
        reader.releaseLock()
        if (bascule == 'first') {
          var value = value_text.slice(1, -1).replace(/ /g,'')
        } else if (bascule == 'second') {
          value_text = value_text.replace(/ /g, '').split('\r')
          if (!value_text[1]) {
            value = '0.0'
          } else {
            value = value_text[1].replaceAll(',', '.').replaceAll('\r', '')
          }
        }
      } finally {
        await port.close()
      }
      return value
    }
  },
  created: function() {
    var vm = this
    vm.user = storage.settings.user
  },
}
</script>
<style scoped>
  #create .v-speed-dial {
    position: fixed;
  }

  #create .v-btn--floating {
    position: relative;
  }

  .text-1-2 {
    font-size: 1.1rem;
  }

  .fixed-top {
    position: sticky;
  }

  .cancelled-color {
    color: red;
  }

  .draft-color {
    color: gray;
  }

  .processing-color {
    color: yellow;
  }

  .done-color {
    color: green;
  }

  .text-medium {
    font-size: medium !important;
  }

</style>
