<template>
  <div>
    <v-app-bar
      elevation="2"
      class="mb-2 fixed-top">
      <v-app-bar-title>
        <translate>Key validation</translate>
      </v-app-bar-title>
    </v-app-bar>
    <v-container>
      <translate tag="p">To finish authentication process you should open the user preferences of your user in Tryton and validate the application key that starts with:</translate>
      <pre>{{ key_small }}</pre>

      <v-btn x-large block
        color="primary"
        @click="goHome"
        class="mt-3">
        <translate>OK</translate>
      </v-btn>
    </v-container>
  </div>
</template>

<script>
var storage = require('./storage.js')

module.exports = {
  data: function() {
    return {
      key: storage.settings.key}
  },
  methods: {
    goHome() {
      this.$router.push({name: 'home'})
    },
  },
  computed: {
    key_small: function() {
      return this.key.slice(0, 8) + '...'
    }
  }
}
</script>
