<template>
  <v-app id="app">
    <router-view></router-view>
  </v-app>
</template>

<script>
var Vue = require('vue')
var VueRouter = require('vue-router')
var Vuetify = require('vuetify')
Vue.use(Vuetify)
var CONFIG = require('../config.json')

var Home = require('./Home.vue')
var Settings = require('./Settings.vue')
var Key = require('./Key.vue')

function is_configured() {
  var settings = JSON.parse(
    localStorage.getItem(CONFIG.app_name + '_settings') || '{}')
  return Boolean(settings.key)
}

require('./http.js')();

var routes = [
  { path: '/', name: 'home', component: Home,
    beforeEnter: function(to, from, next) {
      if (!is_configured()) {
        next('/settings')
        return
      }
      next()
    }
  },
  { path: '/settings', name:'settings', component: Settings },
  { path: '/key', name:'key', component: Key },
]

var router = new VueRouter({
  routes: routes
})

module.exports = Vue.extend({
  router: router,
  vuetify: new Vuetify({
    iconfont: 'md',
  }),
})
</script>
