<template>
  <div>
    <v-app-bar
      elevation="2"
      class="mb-2 fixed-top">
      <v-btn icon
        v-on:click="back"
        v-bind:disabled="saving || !(configured && !change_user_active)"
        ref="buttonBack"
        type="button">
        <v-icon>home</v-icon>
      </v-btn>
      <v-app-bar-title>
        <translate>Settings</translate>
      </v-app-bar-title>
    </v-app-bar>

    <!-- Alert -->
    <v-dialog
      max-width="60%"
      v-model="dialog">
      <v-card>
        <v-card-title>
          {{ dialog_title }}
        </v-card-title>
        <v-card-text>{{ dialog_text }}</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            text
            @click="clearDialog">
            {{ ok_txt }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-container class="mt-6">
      <v-form id="form-config">
        <v-select
          outlined
          dense
          prepend-inner-icon="language"
          v-model="$language.current"
          :items="languages_options"
          item-text="value"
          item-value="key"
          :label="$gettext('Language')"
          required>
        </v-select>
        <div v-if="!change_user_active">
          <v-text-field
            outlined
            dense
            prepend-inner-icon="storage"
            v-bind:disabled="configured"
            v-model="db"
            :label="$gettext('Database')"
            required>
          </v-text-field>
          <v-text-field
            outlined
            dense
            autocorrect="off"
            autocapitalize="none"
            prepend-inner-icon="person"
            v-bind:disabled="configured"
            v-model="user"
            :label="$gettext('User Name')"
            required>
          </v-text-field>
          <v-text-field
            outlined
            dense
            prepend-inner-icon="key"
            disabled
            v-model="key_small"
            :label="$gettext('Key')">
          </v-text-field>
          <v-select
            outlined
            dense
            prepend-inner-icon="scale"
            :items="bascule_options"
            item-text="value"
            item-value="key"
            v-model="bascule"
            :label="$gettext('Bascule protocol')"
            required>
          </v-select>
          <v-text-field
            outlined
            dense
            readonly
            prepend-inner-icon="cable"
            v-model="serial_port"
            :label="$gettext('Serial port')"
            append-icon="list"
            @click:append="takeSerialPort"
            required>
          </v-text-field>
        </div>
        <div id="form-change-user" v-if="change_user_active">
          <v-text-field
            outlined
            dense
            prepend-inner-icon="storage"
            v-model="new_db"
            :label="$gettext('Database')"
            required>
          </v-text-field>
          <v-text-field
            outlined
            dense
            prepend-inner-icon="person"
            v-model="new_user"
            :label="$gettext('User name')"
            required>
          </v-text-field>
          <v-text-field
            outlined
            dense
            prepend-inner-icon="key"
            disabled
            :label="$gettext('Key')">
          </v-text-field>
          <v-select
            outlined
            dense
            prepend-inner-icon="scale"
            :items="bascule_options"
            item-text="value"
            item-value="key"
            v-model="bascule"
            :label="$gettext('Bascule protocol')"
            required>
          </v-select>
          <v-text-field
            outlined
            dense
            readonly
            prepend-inner-icon="cable"
            v-model="serial_port"
            :label="$gettext('Serial port')"
            append-icon="list"
            @click:append="takeSerialPort"
            required>
          </v-text-field>
        </div>
        <v-btn block
          color="primary"
          v-if="!configured"
          @click="save">
          {{ register_user_txt }}
        </v-btn>
        <v-btn block
          color="primary"
          v-if="configured && !change_user_active"
          @click="add_user">
          {{ change_user_txt }}

        </v-btn>
        <v-btn block
          color="warning"
          v-if="configured && !change_user_active"
          @click="warning_reset_dialog = true"
          class="mt-3">
          <translate>Reset</translate>
        </v-btn>
        <v-btn block
          color="success"
          v-if="configured && change_user_active"
          @click="change_user">
          {{ ok_txt }}
        </v-btn>
        <v-btn block
          color="primary"
          v-if="configured && change_user_active"
          @click="change_user_active = false"
          class="mt-3">
          {{ cancel_txt }}

        </v-btn>
      </v-form>
      <v-dialog
        v-model="warning_reset_dialog"
        persistent
        max-width="600px">
        <v-card>
          <v-card-title>{{ txt_warning_reset_dialog }}</v-card-title>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="primary"
              text
              @click="warning_reset_dialog = false">
              {{ cancel_txt }}
            </v-btn>
            <v-btn
              color="primary"
              text
              @click="warningReset()">
              {{ ok_txt }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-container>
  </div>
</template>

<script>
var storage = require('./storage.js')
var Vue = require('vue')
var CONFIG = require('../config.json')

module.exports = {
  data: function() {
    var settings = storage.settings
    return {
      change_user_active: false,
      db: settings.db,
      user: settings.user,
      key: settings.key,
      bascule: settings.bascule,
      serial_port: null,
      submitting: false,
      users_settings: storage.users_settings,
      new_user: '',
      new_db: '',
      ok_txt: this.$gettext('Ok'),
      change_user_txt: this.$gettext('Change user'),
      cancel_txt: this.$gettext('Cancel'),
      register_user_txt: this.$gettext('Register'),
      warning_reset_dialog: false,
      dialog: false,
      dialog_title: '',
      dialog_text: '',
      txt_warning_reset_dialog: this.$gettext('Users and keys will be lost. Do you want to continue?'),
      txt_bascule_option_1: this.$gettext('Type 1'),
      txt_bascule_option_2: this.$gettext('Type 2'),
      txt_is_port_connected: this.$gettext('There is one linked port'),
      txt_no_port_connected: this.$gettext('No linked port'),
    }
  },
  computed: {
    configured: function() {
      return Boolean(this.key)
    },
    key_small: function() {
      if (this.key) {
        return this.key.slice(0, 8) + '...'
      }
    },
    languages_options: function() {
      var options = []
      Object.entries(this.$language.available).forEach(
        ([key, value]) => options.push({'key': key, 'value': value}))
      return options
    },
    bascule_options: function(){
      return [{key: 'first', value: this.txt_bascule_option_1},
        {key: 'second', value: this.txt_bascule_option_2}]
    },
  },
  methods: {
    showDialog(title, text='', additional_text='') {
      this.dialog_title = this.$gettext(title)
      this.dialog_text = this.$gettext(text) + additional_text
      this.dialog = true
    },
    clearDialog() {
      this.dialog = false
      this.dialog_title = ''
      this.dialog_text = ''
    },
    add_user: function(){
      this.new_db = this.db
      this.change_user_active = true
    },
    back: function() {
      this.$router.push({
        name: 'home',
      })
    },
    async resetSerialPorts() {
      ports = await navigator.serial.getPorts()
      ports.forEach(async function (port) {
        await port.forget()
      })
      this.serial_port = this.txt_no_port_connected
    },
    change_user: function(){
      var user = this.change_user_active ? this.new_user : this.user
      var vm = this
      if (this.get_user_exist(user)) {
        this.users_settings.forEach(function(settings){
          if (settings.user == vm.new_user) {
            vm.set_current_settings(settings)
            vm.$router.push({ name: 'home' })
          }
        })
      } else {
        this.register()
      }
      this.change_user_active = false
    },
    remove_users_setting(settings){
      var users = this.users_settings.map(
        function(settings) { return settings.user })
      var index = users.indexOf(settings.user)
      this.users_settings.splice(index, 1)
      storage.users_settings = this.users_settings
      storage.clear()
    },
    save: function() {
      storage.language = this.$language.current
      var user = this.change_user_active ? this.new_user : this.user
      var vm = this
      if (this.get_user_exist(user)) {
        this.users_settings.forEach(function(settings) {
          if (settings.user == vm.user) {
            vm.set_current_settings(settings)
            vm.$router.push({ name: 'home' })
          }
        })
      }
      else if (!this.configured) {
        this.register()
      } else {
        this.$router.push('home')
      }
    },
    get_user_exist: function(user) {
      var users_settings = storage.users_settings
      var users = users_settings.map((settings) => settings.user)
      if (users.indexOf(user) != -1) return true
      return false
    },
    set_current_settings: function(settings) {
      if (settings.user)
        storage.settings = settings
      this.db = settings.db
      this.user  = settings.user
      this.key = settings.key
      this.bascule = settings.bascule
      // reset setting for request
      require('./http.js')()
    },
    set_settings: function(db, user, key, bascule) {
      var settings = {
        'db': db,
        'user': user,
        'key': key,
        'bascule': bascule
      }
      this.users_settings.push(settings)
      storage.users_settings = this.users_settings
      this.set_current_settings(settings)
    },
    register: function() {
      var db = this.configured ? this.new_db : this.db
      var user = this.configured ? this.new_user : this.user

      var url = '/' + db + '/user/application/'
      var data = {
        user: user,
        application: CONFIG.app_name
      }
      var vm = this
      this.$http.post(url, data).then(function(response) {
        return response.json().then(function(key) {
          vm.key = key
          vm.set_settings(db, user, key, vm.bascule)
          vm.$router.push({ name: 'key' })
        })
      }, function(response) {
        vm.showDialog('Error',
          response.body.text || 'Check that the database and the user are correct.')
      })
    },
    reset: async function() {
      this.submitting = true
      var url = '/' + this.db + '/user/application/'
      var data = {
        user: this.user,
        key: this.key,
        application: CONFIG.app_name
      }
      await this.resetSerialPorts()
      var vm = this
      var settings = storage.settings
      this.$http.delete(url, { body: data }).then(function(response) {
        var empty_settings = {
          'db': '',
          'user': '',
          'key': ''
        }
        this.submitting = false
        vm.set_current_settings(empty_settings)
        vm.remove_users_setting(settings)
      }, function(response) {
        vm.showDialog('Error', response.body.text)
      })
    },
    warningReset: function() {
      this.reset()
      this.warning_reset_dialog = false
    },
    async takeSerialPort() {
      await this.resetSerialPorts()
      try {
        const port = await navigator.serial.requestPort()
        this.serial_port = this.txt_is_port_connected
      } catch (error) {
        this.serial_port = this.txt_no_port_connected
        console.log(error)
      }
    }
  },
  created: async function() {
    ports = await navigator.serial.getPorts()
    if (ports.length == 1) {
      this.serial_port = this.txt_is_port_connected
    } else {
      this.serial_port = this.txt_no_port_connected
    }

  },
}
</script>
<style scoped>
  .fixed-top {
    position: sticky;
  }

</style>